html,
body {
  position: fixed;
  height: 100vh;
  width: 100vh;
  background: linear-gradient(to bottom, #000000 70%, #2c0145);
  display: flex;

  font-family: "Usual", sans-serif;
}

.mainAppDiv {
  width: 80%; /* adjust as needed */
  transition: margin-left 0.25s ease; /* added transition */
  display: flex;

  align-items: center;
}

.searchBar {
  /* outline: 1px solid red; */
  width: 705px;
  height: 40px;
  margin-top: -91px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.dblClickTitle {
  color: rgb(165, 164, 164);
  margin-left: 90px;
  margin-top: 27px;
  white-space: nowrap;
  font-size: 12px;
}

.searchInput {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border: transparent;
  border-bottom: 1px solid #ff416c;
  background-color: transparent;
  color: #ffffff;
  padding-left: 20px;
  font-size: 16px;
  letter-spacing: 2px;
}

.rightDiv {
  display: flex;
  flex-direction: column;
  margin-left: 130px;
  width: 600px;
  height: 955px;
}

.cart {
  display: flex;
  /* outline: 1px solid red; */
  justify-content: flex-end;
  height: 75px;
  width: 500px;
  margin-top: 25px;
  margin-left: -110px;
  margin-bottom: 3px;
}

.cartHolder {
  display: flex;
  flex-direction: row;
  cursor: crosshair;
}

.cartAmount {
  color: #826c9b;
  margin-top: 27.5px;
  font-size: 14px;
}

.cartAmount:hover {
  color: #06d560;
  height: 20px;
}

.wallet {
  display: flex;
}
.coinImage {
  margin-top: 18px;
}

.coinage {
  color: #83699f;
  margin-top: 27.5px;
  margin-left: 12px;
  font-size: 14px;
  cursor: crosshair;
}

.coinage:hover {
  color: #d5af06;
  height: 20px;
}

.itemPresentation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* outline: 1px solid red; */
  height: 625px;
  width: 500px;
}

.cartControls {
  display: flex;
  flex-direction: column;
  /* outline: 1px solid red; */
  height: 255px;
  width: 500px;
}

.cartTable {
  margin-top: -900px;
  margin-left: -105px;
  width: 500px;
  height: 725px;
  overflow: scroll;
  border-bottom: 12px solid yellow;
  border-top: 12px solid rgb(223, 223, 0);
  border-right: 12px solid rgb(149, 149, 0);
  border-left: 12px solid rgb(149, 149, 0);
}

.itemTableMain {
}

.subtotalAmt {
  font-size: 20px;
  color: white;
  margin-left: 10px;
}

.subGold {
  font-weight: 550;
  background: linear-gradient(to bottom, #fffb00, #ffdd00, #ffa600);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} /* Hide scrollbar when not scrolling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0);
}

/* Show scrollbar when scrolling */
::-webkit-scrollbar-thumb:vertical {
  background: rgba(84, 80, 80, 0.3);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: background 0.3s ease-out;
}

/* Darken scrollbar thumb on hover */
::-webkit-scrollbar-thumb:vertical:hover {
  background: rgba(71, 67, 67, 0.5);
}

/* Rounded corners for scrollbar track */
::-webkit-scrollbar-track:vertical {
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
}

/* Hide scrollbar thumb when not hovering */
::-webkit-scrollbar-thumb:vertical {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

::-webkit-scrollbar-thumb:vertical:hover {
  opacity: 1;
}
