.th {
  background-color: #4caf50;
  border: 1px solid black;
  color: white;
  position: sticky;
  top: 0;
}

.tr {
  /* background-color: #f2f2f2; */
  background-color: rgb(81, 96, 121);
  height: 30px;
}

.tr:hover {
  cursor: crosshair;
  background-color: rgb(134, 36, 176);
}

.td {
  width: 100px;
}

.thead {
}

.table {
  color: white;
  border-radius: 10px;
  overflow-y: scroll;
  height: 725px;
  width: 500px;
  overflow: scroll;
}
